/* CartButton.module.css */
.cartButton {
    width:95%;
    height: 50px;
    background: none;
   
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    
    top:2.3rem; /* Alineado con la parte superior */
    right: 0rem; /* Alinea el padding horizontal con otros componentes */
    z-index: 1000;
}

.cartIcon {
    width: 25px;
    height: 25px;
    
    
}

.itemCount {
    position: absolute;
    top: 2px;
    right: -2px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 0.2rem 0.4rem;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 10px;
    height: 15px;
}


@media (max-width: 1000px) {

    .cartButton {
        width: 95%;
        height: 50px;
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;

        top:2rem; /* Alineado con la parte superior */
        right: 0rem; /* Alinea el padding horizontal con otros componentes */
    }
    .cartIcon {
        width: 28px;
        height: 28px;
        
      
        
    }
    .itemCount {
        position: absolute;
        top: 2px;
        right: -2px;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        padding: 0.2rem 0.4rem;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 10px;
        height: 15px;
    }

}

