/* CordColorSelector.module.css */
.cordColorSelector {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2rem; /* Consistent padding with other components */
    border-top: 1px solid #ddd;
}

.cordColorSelector h3 {
    font-size: 1rem;
    font-weight: normal;
    color: #333;
    margin: 0;
}

.colorContainer {
    display: flex;
    gap: 10px;
}

.colorButton {
    width: 35px;
    height: 35px;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

.colorButton:hover {
    transform: scale(1.1);
}

.active {
    outline: 2px solid #333; /* Adds an outline to indicate the selected color */
    outline-offset: 2px;
}
