/* CordColorSelector.module.css */
.cordColorSelector {
    display: flex;
    flex-direction: column;
    padding:32px; /* Consistent padding with other components */
    padding-bottom: 36px;
}

.cordColorSelector h3 {
    font-size: 0.875rem;
    font-weight: normal;
    color: #333;
    margin: 0;
    padding-bottom: 8px;
}

.colorContainer {
    display: flex;
    gap: 10px;
    padding-left: 2px;
    border-top: 1px solid #ddd;
    padding-top: 4px;
}

.colorButton {
    width: 32px;
    height: 32px;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
    margin-top: 10px;
    
}

.colorButton:hover {
    transform: scale(1.1);
}

.active {
    outline: 2px solid #333; /* Adds an outline to indicate the selected color */
    outline-offset: 2px;
}


@media (max-width: 1000px) {
    .cordColorSelector {
                padding:16px; /* Consistent padding with other components */
                padding-bottom: 36px;
    }

}


