
.container {
    padding-bottom: 16px;
}

.addToCartButton {
    width: calc(42% * 2 + 20px); /* Adjust width to match the combined width of two smaller buttons plus some gap */
    max-width: 100%; /* Ensure it doesn’t exceed container width */
    padding: 15px 0; /* Vertical padding for prominence */
    font-size:0.875rem;; /* Font size for the button text */
    font-weight: 500; /* Slightly bolder text */
    background-color: #804000; /* Brown background color */
    color: white; /* White text color */
    border: none; /* Remove default border */
    border-radius: 8px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition on hover */
    margin: 0px auto 0 auto; /* Center align the button */
    display: block; /* Block display to ensure centering */
    
}

.addToCartButton:hover {
    background-color: #603000; /* Darker shade on hover */
}

/* Toast container */


@media (max-width: 1000px) {
    .addToCartButton {
        padding: 16px;
        width: 92.5%;

    }


.container {
    padding-top: 32px;
    padding-bottom: 32px;
}
}