/* MaterialSelector.module.css */
.materialSelector {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding:32px;; /* Ensure padding is consistent with ProductInfo */
    padding-top: 16px;
    padding-bottom: 16px;
}

.materialSelector h3 {
    font-size: 0.875rem;
    font-weight: normal;
    color: #333;
    margin: 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
}

.buttonContainer {
    display: flex;
    gap: 10px;
    width: 100%;
    padding-top: 4px;
}

.materialButton {
    flex-basis: 50%; /* Each button takes up half of the container width */
    min-width: 0; /* Prevents overflow */
    padding: 10px 0; /* Same vertical padding for all */
    border: 1px solid #333;
    border-radius: 5px;
    background-color: white;
    color: #333;
    cursor: pointer;
    font-size:0.875rem;;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.materialButton:hover {
    background-color: #f0f0f0;
    color: #333;
}

.active {
    background-color: #333;
    color: white;
}

.materialLink {
    font-size: 0.75rem;
    color: #333;
    text-decoration: underline;
    cursor: pointer;
    padding-top:8px;
    padding-left: 1px;
    
    
}

/* Ensure consistent alignment with ProductInfo */
.alignedSection {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 1000px) {
    .materialSelector {
        padding: 16px;
        padding-bottom: 32px;
    }
    
    /* Disable hover effect for touch devices */
    .materialButton:hover {
        background-color: white;
        color: #333;
    }

    /* Make the active state more prominent */
    .materialButton:active,
    .active {
        background-color: #333;
        color: white;
    }
}