.tableContainer {
    padding:32px; /* Match padding with other components */
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.comparisonTable {
    width: 100%;
    border-collapse: collapse;
    text-align: center; /* Center text in table */ 
   
}
.comparisonTableAluminum {
    border-right: 1px solid #ddd;
}

.comparisonTable th,
.comparisonTable td {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    font-size: 0.875rem;
    color: #333;
    text-align: center; /* Center text within cells */
    vertical-align: middle; /* Center content vertically */
    
}


.comparisonTable th {
    font-weight: bold;
    
}

.comparisonTable tbody tr:last-child td {
    border-bottom: none; /* Remove border from last row */
    
}
.aluminun {
    border-right: #ddd solid 1px;
}