/* RightPanel.module.css */
.rightPanel {
    background-color: white;
    width: 30vw; /* Ajusta el ancho al 30% de la ventana */
    height: 100vh; /* Asegura que ocupe el alto completo */
    padding: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    z-index: 10;
    overflow-y: auto; /* Permite scroll interno si es necesario */
}

/* Mobile Styles */
@media (max-width: 1000px) {
    .rightPanel {
        width: 100vw; /* Full width on mobile */
        height: 100%;
        box-shadow: none; /* Remove shadow for simplicity on mobile */
        overflow-y:scroll; /* Permite scroll interno si es necesario */
        padding: 0px;
        
    }

}